@import '../style/font.scss';

$primary-color:#1b3358;
$secondry-color:#06142E;
$auxiliar:#473e66;
$letters-color:#F5D7DB;


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    font-size:62.5%;
    font-family:'Poppins-Light';
}


